.organizerlogocontainer{
    display: flex;
    justify-content: center;
}
.organizerlogo{
    align-self: center;
    margin-top: 150px;   	
    max-width: 400px;
    width: auto;
    height: 400px;
    background-image: url("../assets/Organizer.png");
    background-size:contain;
    background-repeat: no-repeat;
}